{% extends 'base.html' %}
{% load static %} 
{% block content %}
<section class="auth-form">
    <div class="form-container">
        <div class="auth-avatar">
            <img src="{% static 'images/default-avartar.jpg' %}" alt="Avatar">
        </div>
        <h2 class="welcome-title">Welcome to Điện Tử XANH!</h2>
        
        <form method="post" class="login-form">
            {% csrf_token %}
            
            <div class="form-group">
                <input type="text" name="username" placeholder="Tài khoản" required>
            </div>
            
            <div class="form-group">
                <input type="password" name="password" placeholder="Mật khẩu" required>
                <div class="form-options">
                    <div class="remember-me">
                        <input type="checkbox" id="remember" name="remember">
                        <label for="remember">Nhớ mật khẩu</label>
                    </div>
                    <a href="{% url 'accounts:password_reset' %}" class="forgot-password">Quên mật khẩu?</a>
                </div>
            </div>
            
            <button type="submit" class="btn-login login-btn">ĐĂNG NHẬP</button>
            <a href="{% url 'accounts:register' %}" class="btn register-btn">ĐĂNG KÝ</a>
        </form>
    </div>
</section>
{% endblock %}