{% extends 'base.html' %}

{% block content %}
<section class="auth-form">
    <div class="form-container">
        <div class="auth-avatar">
            <img src="/static/images/default-avartar.jpg" alt="User Avatar">
        </div>
        <h2 class="welcome-title">Welcome to Điện Tử XANH!</h2>
        
        {% if form.errors %}
        <div class="alert error">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
        
        <form method="post" class="login-form">
            {% csrf_token %}
            
            <div class="form-group">
                
                <input type="text" name="username" id="id_username" placeholder="Tên đăng nhập" required>
            </div>
            
            <div class="form-group">
                
                <input type="email" name="email" id="id_email" placeholder="Email" required>
            </div>
            
            <div class="form-group">
                
                <input type="password" name="password1" id="id_password1" placeholder="Mật khẩu" required>
            </div>
            
            <div class="form-group">
                
                <input type="password" name="password2" id="id_password2" placeholder="Xác nhận mật khẩu" required>
            </div>
            
            <button type="submit" class="btn btn-login login-btn">ĐĂNG KÝ</button>
        </form>
        
        <div class="auth-links">
            <p>Đã có tài khoản? <a href="{% url 'accounts:login' %}">Đăng nhập ngay</a></p>
        </div>
    </div>
</section>
{% endblock %}